/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "sass:map";
@use "../elements/buttons";
@use "../utils/fonts";
@use "../utils/colors" as *;


:host {
    position: relative;
    width: 100%;
    overflow: clip;
    flex-grow: 1;
}

#drawer {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    transition: transform 0.2s;
    width: 260px;
    top: 0;
    bottom: 0;
    background: $container-bg;
    border-right: $container-border;

    &.closed {
        transform: translateX(-100%);
    }

    .panels-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: clip;

        [role=tablist] {
            height: 2em;
            min-height: 2em;
            width: 100%;
            display: flex;

            button {
                flex-grow: 1;
                height: 100%;
                font-size: 1.1em;

                &[aria-selected="true"] {
                    background: transparent;
                }

                &[aria-selected="false"] {
                    border: $container-border;
                }
            }
        }

        .hidden {
            display: none;
        }
    }

    .panel-separator {
        width: 100%;
        min-height: 20px;
        background: $container-separator-color;
        cursor: row-resize;
    }
}

// Canvas

.canvas-container {
    width: 100%;
    height: 100%;

    &.cursor {
        &-default {
            cursor: default;
        }

        &-pointer {
            cursor: pointer;
        }

        &-grab {
            cursor: grab;
        }

        &-grabbing {
            cursor: grabbing;
        }

        &-crosshair {
            cursor: crosshair;
        }

        &-cell {
            cursor: cell;
        }

        &-paint {
            cursor: url('../assets/icons/cursor-paint.svg') 0 27, auto;
        }

        &-erase {
            cursor: url('../assets/icons/cursor-erase.svg') 9 28, auto;
        }
    }
}

.reset-position {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: .5em;
    background: #8EB9FF;
    border-radius: 1.5em;

    &:hover, &:focus:not(:active) {
        background: #5A76A3;
    }
}

