/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../elements/menu';

.menu-titles {
    display: flex;
    z-index: 20;
    font-family: Inter, serif;
    overflow-y: hidden;

    .menu-title {
        height: 2em;
        justify-content: left;
        padding-inline: 1ch;
        gap: 0;
        font-size: 1.2em;
    }
}

.menu-root {
    position: absolute;
    top: 4em;
}