/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "sass:list";
@use "sass:color";
@use "sass:map";

// From https://stackoverflow.com/a/62880368
@mixin recolor($color: #000, $opacity: 1) {
        $r: calc(color.red($color) / 255);
        $g: calc(color.green($color) / 255);
        $b: calc(color.blue($color) / 255);
        $a: $opacity;

        // grayscale fallback if SVG from data url is not supported
        $lightness: color.lightness($color);
        filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

        // color filter
        $svg-filter-id: "recolor";
        filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
          0 0 0 0 #{$r}\
          0 0 0 0 #{$g}\
          0 0 0 0 #{$b}\
          0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}


// Node types
$blocks: (
        start: (
                border: #55AA55, bg: #BBFFBB,
                fortypes: [startblock]
        ),
        text: (
                border: #9DB6F6, bg: #DAE8FC,
                fortypes: [textblock]
        ),
        branch: (
                border: #FF7A76, bg: #FFCFCD,
                fortypes: [locationblock, branchblock]
        ),
        merge: (
                border: #2CB1A3, bg: #A9FFF6,
                fortypes: [mergeblock]
        ),
        choice: (
                border: #C8914E, bg: #FAD7AC,
                fortypes: [mainchoiceblock, regularchoice, ghostworld]
        ),
        core: (
                border: #99E6FA, bg: #E1F6FF,
                fortypes: [core, firstcore]
        ),
        outbound: (
                border: #C176DC, bg: #EBC1FA,
                fortypes: [outboundlink, outboundtext]
        ),
);

$note-bg: #F1D990