/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

$default-bg: var(--default-bg);
$invalid-bg: var(--invalid-bg);
$text-color: var(--text-color);
$text-color-alt: var(--text-color-alt);
$container-bg: var(--container-bg);
$container-bg-alt: var(--container-bg-alt);
$container-border: solid 1px var(--container-border);
$container-separator: solid 1px var(--container-separator);
$container-separator-color: var(--container-separator);
$user-editable-bg: var(--user-editable-bg);
$user-editable-text: var(--user-editable-text);
$button-bg: var(--button-bg);


$cie-error-colors: red, blue, green, orange, magenta;