/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use 'sass:list';
@use './icons';
@use '../utils/colors' as *;
@use '../utils/selected' as *;

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.2s;
    background: $button-bg;
    color: $text-color;

    &:hover, &:focus:not(:active) {
        background: #0004 !important;
    }

    &.toolbar {
        height: 3em;
        min-width: 3em;
    }

    &.tool {
        height: 4em;
        width: 4em;
        gap: .2em;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &[aria-selected="true"] {
            @include selected;

            &::before {
                @include selected-filter;
            }
        }
    }

    &.variable-full {
        line-height: 0;
        padding: 0 1ch 0 .5ch;
    }
}

input[type="checkbox"], input[type="checkbox"] + label {
    cursor: pointer;
    user-select: none;
}
