/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

$icons: "close", "error", "menu-unfold", "menu",
"add", "duplicate", "edit", "export", "manual",  "new", "open", "save", "settings", "trash",
"tool-erase", "tool-paint", "tool-move", "tool-square-empty", "tool-square-fill",
"variable-bool", "variable-int";


.has-icon {
    &::before {
        display: inline-block;
        content: " ";
        background: var(--icon) no-repeat center center;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
    }

    &.icon-medium::before {
        background-size: 16px;
    }

    &.icon-small::before {
        background-size: 16px;
    }

    @each $icon in $icons {
        &.#{$icon} {
            --icon: url(../assets/icons/#{$icon}.svg);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .has-icon::before {
        content: " ";
        filter: invert(1);
    }
}