/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../utils/colors' as *;

.row {
    display: flex;
    gap: .5ch;
    flex-direction: row;
    align-items: center;

    &.wrap {
        flex-wrap: wrap;
    }

    input[type=text], input[type=number], input[type=color], textarea {
        color: $user-editable-text;
        background: $user-editable-bg;
        border: none;
        resize: none;
        min-width: 10ch;

        &:focus, &:active {
            //outline: none;
        }
    }

    input[type=number] {
        min-width: 0;
        width: 5ch;
    }
}