/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../utils/colors' as *;

.shortcut-row {
    display: flex;
    gap: 2em;

    .shortcut {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .key {
            $border-color: #BABABA;
            background: $container-bg-alt;
            height: 2.5em;
            line-height: 2.5em;
            text-align: center;
            user-select: none;
            border: solid 4px $border-color;
            border-top: solid 1px $border-color;
            border-bottom: solid 3px $border-color;
            border-radius: 8px;

            &.sm { width: 2.5em; }
            &.md { width: 4em; }
            &.lg { width: 5.5em; }
        }
    }

    .description {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 1.1em;
        }

        .text {
            color: $text-color-alt;
        }
    }
}
