/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "sass:list";
@use "../../elements/buttons";
@use "../../elements/icons";
@use "../../utils/colors" as *;

.main-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
}

:host > details {
    margin: .5rem 1.5rem;

    & > summary {
        font-weight: bold;
        font-size: 1.2rem;
    }

    & > :not(summary):not(ul):not(ol) {
        margin: 0 .5rem;
    }
}

summary {
    cursor: pointer;
}

.errors {

    &[data-count="0"] {
        display: none;
    }

    li {
        & > b {
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            text-decoration-skip-ink: none;
        }

        $colors-count: list.length($cie-error-colors);
        @for $i from 0 to $colors-count {
            &:nth-child(#{$colors-count}n + #{$i + 1}) > b {
                text-decoration-color: list.nth($cie-error-colors, $i+1);
            }
        }
    }
}

.variables {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: 1rem;

        li {
            display: flex;
            align-items: stretch;
            flex-direction: column;
            background: $container-bg-alt;
            border-radius: 1rem;

            .variable-name {
                padding: 0 1ch;
                height: 1.5rem;
                background: $container-bg;
                border-radius: 1rem;
                justify-content: left;
                gap: .5ch;
                z-index: 1;
            }

            .details {
                display: flex;
                flex-direction: column;
                font-size: .85rem;
                gap: .2rem;
                padding: 0 1ch;
                visibility: hidden;
                max-height: 0;
                max-width: 0;
                pointer-events: none;
                overflow: clip;
                transition: all .5s, max-width .5s .2s;

                // Used not to mess up with transitions
                :first-child {
                    padding-top: .5ch;
                }

                :last-child {
                    padding-bottom: 1ch;
                }
            }

            .variable-name:is(:hover, :focus) + .details {
                visibility: visible;
                height: fit-content;
                max-height: 10em;
                max-width: 30ch;
                transition: all .5s .2s, max-width .5s;
            }
        }
    }
}

.glossary {

    li {
        margin-bottom: 0.8rem;

        .list {
            display: inline-flex;
            gap: 5px;

            .character {
                display: block;
                font-family: serif;
                background: $container-bg-alt;
                padding: .5ch 1.25ch;
                text-align: center;
                border-radius: 3px;
            }
        }
    }
}