/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../../elements/icons';
@use '../../elements/buttons';
@use '../../utils/fonts';
@use '../../utils/colors' as *;

:host {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #00000088;

    &:host(.popup-alert) > .popup-container {
        width: min(600px, 90vw);
        height: auto;

        .popup-body {
            padding: .5em;
            padding-inline: 1em;
        }
    }

    &:host(.popup-shortcuts) > .popup-container {
        width: min(800px, 90vw);
        height: min(900px, 95vh);
        display: flex;
        flex-direction: column;

        .popup-body {
            padding: .5em;
            padding-inline: 1em;
            overflow-y: auto;
            border-bottom: $container-border;
        }
    }

    &:host(.popup-diagram), &:host(.popup-editor) {
        & > .popup-container {
            width: min(1800px, 95vw);
            height: min(900px, 95vh);

            .popup-body {
                border-top: $container-border;
                border-bottom: $container-separator;
                height: calc(100% - 6em);
            }
        }

        ::slotted(logic-builder-canvas) {
            position: absolute;
            height: calc(100% - 6em);
        }
    }

    &:host(.popup-calcifeditor) {
        & > .popup-container {
            width: min(800px, 95vw);
            height: min(600px, 95vh);

            .popup-body {
                border-top: $container-border;
                border-bottom: $container-separator;
                height: calc(100% - 6em);
                overflow: scroll;
            }
        }
    }

    .popup-container {
        position: absolute;
        background: $default-bg;
        color: $text-color;
        font-family: Inter, sans-serif;
        left: 50%;
        top: 50%;
        $border-radius: 10px;
        border-radius: $border-radius;
        transform: translateX(-50%) translateY(-50%);

        .popup-title {
            display: flex;
            background: $container-bg;
            margin: 0;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            .popup-title-text {
                padding: .5em 1em;
                flex: 1;
            }

            .has-icon {
                width: 4em;
                height: 4em;
            }

            :first-child {
                border-top-left-radius: $border-radius;
            }

            :last-child {
                border-top-right-radius: $border-radius;
            }
        }

        .popup-buttons {
            display: flex;
            justify-content: flex-end;
            padding: .5em;
            padding-inline: 1em;
            gap: 5px;

            & > button {
                font-size: .9em;
                padding: .25em;
                padding-inline: 1em;
                border-radius: 5px;
                border: $container-border;
            }
        }
    }
}
