/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "./calcif-tokens" as *;

@mixin calcif-buttons() {
    .cie-display {
        display: inline;
        font-family: serif;
        overflow-wrap: anywhere;
        overflow: clip;
        position: relative;
        min-width: 8ch;
        padding: 0 1ch;

        @include calcif-tokens();

        .cie-variable-bool, .cie-variable-int {
            height: 1.25rem;

            &::before {
                font-size: .8rem;
                line-height: 1.1rem;
            }
        }

        .has-icon.edit {
            position: absolute;
            visibility: hidden;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1rem;
            width: 7ch;
            font-family: Inter, sans-serif;
        }

        &:hover {
            .cie-token {
                filter: blur(3px);
            }

            .has-icon.edit {
                visibility: visible;
            }
        }
    }
}