/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "../../utils/colors" as *;
@use "./calcif-tokens" as *;

.ci-editor {
    display: inline;
    background: $container-bg-alt;
    font-family: serif;
    font-size: 1.25em;
    padding: .5rem 1rem;
    margin: 1rem 1.5rem;
    border-radius: 2em;
    cursor: text;


    &:empty::before {
        color: $text-color-alt;
        font-family: system-ui, sans-serif;
        content: attr(placeholder);
    }

    @include calcif-tokens();
}