/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */


@use "sass:list";
@use "../../utils/colors" as *;

/**
 * Adds custom style for calc if tokens.
 */
@mixin calcif-tokens() {
    .cie-token {
        margin-left: var(--margin, 0);

        &:not(:first-child) {
            --margin: 1ch;
        }

        &[data-error-id] {
            border-bottom: solid 3px;

            & + [data-error-id]:not(.cie-object) {
                // Switch to padding to extend border.
                margin-left: 0;
                padding-left: var(--margin, 0);
            }
        }

        @for $i from 0 to list.length($cie-error-colors) {
            &[data-error-id="#{$i}"] {
                border-bottom-color: list.nth($cie-error-colors, $i+1);
            }
        }

        .cie-object-internal {
            // Child node
            display: none;
        }
    }

    .cie-variable-int, .cie-variable-bool {
        display: inline-block;
        background: $container-bg;
        border-radius: 1em;
        padding: 0 1ch;
        margin-top: .25em;
        margin-bottom: .25em;
        line-height: 1rem;
        height: 1.5rem;

        &::before {
            content: attr(data-name);
            color: black; // Fix for dark theme.
            background-position: left center;
            font-family: "Inter", system-ui, sans-serif;
            padding-left: 2.25ch;
            width: fit-content;
            font-size: .8em;
            line-height: 1.35rem;
        }

        &[data-defined="false"] {
            background: $invalid-bg
        }
    }

    .cie-function + .cie-punct[data-value="("], // Between function followed by parentheses
    .cie-punct[data-value="("] + .cie-token, // After opening parenthesis
    .cie-punct[data-value=")"], // Before closing parenthesis
    .cie-function[data-value="!"] + .cie-token:not(:is(.cie-variable-int, .cie-variable-bool)) { // After '!' operator.
        --margin: 0;
    }
}