/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "sass:map";
@use "../../elements/buttons";
@use "../../utils/colors" as *;

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.drawer-title {
    min-width: 90%;
    padding-top: .4em;
    padding-bottom: .4em;
    margin: 0 auto;
    text-align: center;
    color: $text-color;
}

.drawer-scroll-container {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

#create-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 20px;
    row-gap: 20px;
    padding-top: 1em;
    padding-inline: 20px;
}

.zone-tools {
    margin-top: .5em;
    display: flex;
    justify-content: center;
}

#zones-list {
    padding-inline: .25em;

    .add-zone {
        width: 100%;
        height: 2em;
        border: $container-separator;
        border-radius: 5px;
    }
}