/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "sass:map";
@use "../../utils/blocks" as *;

:host {
    width: 100px;
    height: 2.5em;
    cursor: grab;
    user-select: none;
}

.block {
    // Main block
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .1s ease-out;

    &:hover,
    &:focus {
        box-shadow: 0 0.5em 0.5em -0.4em gray;
        transform: translateY(-0.25em);
    }

    &.note { background: $note-bg; }

    @each $name, $properties in $blocks {
        @each $type in map.get($properties, "fortypes") {
            &.#{$type} {
                background: map.get($properties, "bg");
                border: solid 2px map.get($properties, "border");
                border-radius: 10px;
            }
        }
    }
}

.socket {
    $radius: 4.5px;
    position: absolute;
    width: $radius*2;
    height: $radius*2;
    border-radius: 50%;

    &.position-top-left {
        left: -$radius - 1px;
        top: -$radius - 1px;
    }

    &.position-top {
        left: calc(50% - $radius);
        top: -$radius - 1px;
    }

    &.position-top-right {
        left: calc(100% - $radius + 1px);
        top: -$radius - 1px;
    }

    &.position-left {
        left: -$radius - 1px;
        top: calc(50% - $radius);
    }

    &.position-right {
        left: calc(100% - $radius + 1px);
        top: calc(50% - $radius);
    }

    &.position-bottom-left {
        left: -$radius - 1px;
        top: calc(100% - $radius - 1px);
    }

    &.position-bottom {
        left: calc(50% - $radius);
        top: calc(100% - $radius - 1px);
    }

    &.position-bottom-right {
        left: calc(100% - $radius + 1px);
        top: calc(100% - $radius - 1px);
    }
}