/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "../../utils/fonts";
@use "../../utils/colors" as *;

.column {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;

    input {
        flex-grow: 1;
    }
}

label {
    color: $text-color;
}

input {
    padding: .5ch;
    padding-inline: 1ch;
    border: $container-separator;
    border-radius: 5px;
    min-width: 10ch;
    background: $user-editable-bg;
    color: $user-editable-text;

    &:invalid {
        border-color: red;
    }
}