/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "sass:map";
@use "sass:color";
@use "base";
@use "../../utils/blocks" as *;
@use "../../utils/colors" as *;

.drawer-title {

    // Block properties
    & > .block-bg {
        display: block;
        position: relative;
        padding-inline: 20%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../assets/images/brush-stroke.png) 50% / 100%;
            background-size: 100% 120%;
        }

        & > .block-title {
            position: relative;
            color: black;
        }

        @each $name, $properties in $blocks {
            @each $type in map.get($properties, "fortypes") {
                &.#{$type}::before {
                    $c: color.adjust(map.get($properties, "border"), $lightness: 10%);
                    @include recolor($c);
                }
            }
        }
    }
}


#properties-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    row-gap: 20px;
    padding-top: 1em;
    padding-inline: 20px;
}

.selected-action {
    width: 70%;
    margin: .5em auto;
    height: 1.5em;
    font-size: 1.2em;
    border: $container-separator;
    $border-radius: .75em;
    border-radius: $border-radius;

    button {
        width: 100%;
        height: 100%;
        font-size: 1em;
        background: none;
        border-radius: $border-radius;
        color: black;
    }
}
