/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../../utils/selected' as *;
@use '../../utils/colors' as *;
@use '../../elements/buttons';


details {
    summary {
        cursor: pointer;

        &.hide-marker::marker {
            color: transparent;
        }

        &.selected {
            @include selected;
        }

        .summary--inner {
            display: inline-flex;
            height: 2em;
            align-items: center;
            gap: 5px;

            .title {
                flex-grow: 1;
                padding: .25ch;
                padding-inline: 1ch;
                background: var(--color);
                border-radius: 5px;
            }

            .plus {
                font-style: italic;
                color: #666;
            }

            .separator {
                flex-grow: 1;
            }
        }
    }

    &[open] summary .plus {
        display: none;
    }

    .child-zones {
        padding-left: 1em;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            height: 100%;
            width: 5px;
            margin-left: -15px;
            background: var(--color);
        }

        .add-zone {
            height: 2em;
            margin: .25em .25em .25em 1.5em;
            padding-inline: 1ch;
            border: $container-separator;
            border-radius: 5px;
        }
    }
}