/*!
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
@use 'sass:math';
@use 'utils/fonts';
@use 'utils/colors' as *;
@use 'elements/buttons';
@use 'elements/drag';
@use 'elements/icons';
@use 'elements/textedit';
@use 'elements/editor/calcif';
@use 'elements/editor/richtext';
@use 'elements/shortcut';

@use "../../node_modules/quill/dist/quill.snow.css";

:root {
    overflow: hidden;

    --default-bg: #FFFFFF;
    --invalid-bg: #FFAAAA;
    --text-color: #000000;
    --text-color-alt: #444444;
    --container-bg: #EEEEEE;
    --container-bg-alt: #C4C4C4;
    --container-border: #C4C4C4;
    --container-separator: #AAAAAA;
    --button-bg: #D0D0D0DD;
    --user-editable-bg: #FFFFFF;
    --user-editable-text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --default-bg: #252525;
        --invalid-bg: #882525;
        --text-color: #FFFFFF;
        --text-color-alt: #BBBBBB;
        --container-bg: #363636;
        --container-bg-alt: #444444;
        --container-border: #444444;
        --container-separator: #656565;
        --button-bg: #4F4F4FDD;
        --user-editable-bg: #252525;
        --user-editable-text: #FFFFFF;
    }
}

body {
    margin: 0; padding: 0; height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    $nav-height: 4.5rem;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1ch;
        padding-left: 1em;
        height: $nav-height;
        background: $container-bg;
        border-bottom: $container-border;
        z-index: 2;
        user-select: none;
        color: $text-color;

        h1 {
            display: flex;
            width: fit-content;
            font-family: "Allura", cursive;
            margin: 0;
            font-size: 2.5em;
            line-height: 1.5em;

            &::before {
                content: " ";
                display: inline-block;
                $size: 1.25em;
                $bg-size: math.div($size * 3, 4);
                width: $size;
                height: 1.5em;
                background: url(../assets/icons/ifread.svg) no-repeat center center;
                background-size: $bg-size $bg-size;
            }
        }

        div.title-bar {
            display: flex;
            flex-direction: column;
            position: static;
            margin-left: 2.8em;
        }
    }

    .chapters {
        height: 2em;
        background: $container-bg;
        border-top: $container-border;

        button {
            padding: 0 1em;
            height: 100%;
        }
    }
}