/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../../elements/buttons';
@use '../../elements/list';
@use '../../elements/editor/calcif-buttons' as *;
@use '../../utils/colors' as *;

:host {
    width: 100%;
}

li {
    &.question {
        cursor: help;
    }

    &.red {
        background-color: $invalid-bg;
    }

    .row.management {
        align-items: baseline;
    }

    .row.assignment {
        flex: 1;
        flex-wrap: wrap;
    }

    .row.behavior-overflow {
        margin-top: .5em;
    }

    @include calcif-buttons();
}

.info {
    flex-grow: 1;
    text-align: center;
    line-height: 100%;
    color: $text-color-alt;
    font-style: italic;
    font-family: Inter, sans-serif;
    font-size: .8em;
}
