/**
 * Interactive Fictions for Restricted Environments All-in-one Designer
 * Copyright (C) 2024-2025  ocremaker <ocremaker@tutanota.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

@use '../../elements/buttons';
@use '../../elements/list';
@use '../../utils/colors' as *;

:host {
    width: 100%;
}

.question {
    cursor: help;
}

li {
    &.parent-definition {
        cursor: not-allowed;
    }

    .row {
        .complexity {
            background: transparent;
            padding: .2ch 1ch;
            border-radius: 2px;

            &.warn {
                background: #FF9553;
            }

            &.panic {
                background: #FF4444;
            }
        }

        .title {
            font-size: 1em;
            flex-grow: 1;
            overflow: hidden;
        }

        .description {
            width: 100%;
            color: $text-color-alt;
            font-style: italic;
            font-family: Inter, sans-serif;
            font-size: .8em;
            height: 1em;
        }
    }
}